@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Created styles */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --section-color: #2f303a;
  --white: #ffffff;
  --black: #000000;
  --team-bckg: #f5f4fa;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
  --banner-gradient: rgba(47, 48, 58, 0.4);
  --social: #afb1b8;
}

/* header */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white);
  font-size: 14px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  height: 80px;
  padding: 24px 0 25px 0;
  border-bottom: 1px solid var(--border-header);
}
.page-header__navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  display: inline-block;
}
.logo--colored {
  color: var(--accent);
}
.logo--dark {
  color: var(--black);
  margin-right: 93px;
}
.logo--light {
  color: var(--white);
  margin-bottom: 20px;
}
.page-header__nav-list {
  display: flex;
}
.contacts {
  display: flex;
  margin-left: auto;
}

.page-header__nav-link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__nav-line:not(:last-child) {
  margin-right: 50px;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.page-header__nav-link {
  color: var(--title-text-color);
  padding: 24px 0 32px 0;
}
.contacts__link {
  color: var(--primary-text-color);
  vertical-align: middle;
  display: inline-block;
}
.contacts__icon {
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__nav-link:hover,
.page-header__nav-link:focus,
.contacts__link:hover,
.contacts__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--accent);
}
.page-header__nav-link--active {
  position: relative;
  color: var(--accent);
}
.page-header__nav-link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Hero */
.hero {
  background-color: var(--section-color);
  padding: 199px 0 201px 0;
  margin: 0 auto;
  text-align: center;
  max-width: 1600рх;
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, var(--banner-gradient), var(--banner-gradient)),
    url(../images/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  width: 696px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  position: relative;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent);
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
}
.hero__button::after {
  content: '';
  position: absolute;
  left: 32px;
  bottom: 10px;

  display: block;
  width: 70%;
  height: 2px;
  border-radius: 50%;
  transform: scaleX(0);
  background-color: var(--white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover::after,
.hero__button:focus::after {
  transform: scaleX(1);
}
/* features */
.features__list {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: 270px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--team-bckg);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* speciality */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.speciality__list {
  display: flex;
  justify-content: space-between;
}
.speciality__thumb {
  position: relative;
}
.speciality__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-block;

  padding: 27px 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
  font-weight: 700;
  line-height: calc(16 / 14);
}

.speciality {
  padding-top: 0;
}
/* team */
.team {
  background-color: var(--team-bckg);
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  text-align: center;
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0 0 10px 0;
}
.team__expertise {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socials-link {
  width: 44px;
  height: 44px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent);
}
.team__social-link {
  background-color: var(--white);
}
.team__social-icon {
  fill: var(--social);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--white);
}
/* regular-customers */
.regular-customers {
  background-color: var(--white);
}
.regular-customers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.regular-customers__link {
  display: inline-block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: transparent;
  border-color: var(--social);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__icon {
  fill: var(--social);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__link:hover,
.regular-customers__link:focus,
.regular-customers__link:hover .regular-customers__icon,
.regular-customers__link:focus .regular-customers__icon {
  border-color: var(--accent);
  fill: var(--accent);
}
/* footer */
.footer {
  background-color: var(--section-color);
  padding: 60px 0;
}
.address {
  font-style: normal;
}
.address__item {
  margin-bottom: 9px;
}
.address__map {
  color: var(--white);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.address__link {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-part {
  display: flex;
  flex-direction: row;
}
.address-part {
  margin-right: 70px;
}
.join {
  padding-top: 12px;
  margin-right: 93px;
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.join__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.join__icon {
  fill: var(--white);
}
.form-part {
  padding-top: 12px;
}
.form-part__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.form {
  display: flex;
}
.form__mail-input {
  width: 358px;
  display: block;
  background-color: var(--section-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  color: var(--footer-contacts);
  font-size: 16px;
  margin-right: 12px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__mail-input:focus {
  border: 1px solid var(--accent);
}
.form__subscribe-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent);
  cursor: pointer;
}
.form__button-title {
  display: inline-block;
  padding: 10px 10px 10px 29px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
}
.form__btn-icon {
  fill: var(--white);
}
/* buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons__button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--title-text-color);
  border-radius: 4px;
  background-color: var(--team-bckg);
  cursor: pointer;
  font-family: inherit;
  box-shadow: none;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__item:not(:last-child) {
  margin-right: 8px;
}
.buttons__button:hover,
.buttons__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent);
  color: var(--white);
}
.buttons__button--active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent);
  color: var(--white);
}
/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__text {
  padding: 20px 24px;
  border: 1px solid var(--team-bckg);
  border-top: 0;
}
.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.projects__type {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link {
  display: block;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0%);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
}

.modal__close-btn-icon {
  fill: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__close-btn-icon {
  fill: var(--accent);
}
.modal__heading {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--title-text-color);
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__fieldset {
  width: 448px;
  margin-bottom: 20px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__label:last-child {
  margin-bottom: 0;
}
.modal__title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: 12px 12px 12px 42px;
  cursor: pointer;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  display: block;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: inherit;
  font-family: inherit;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus,
.modal__textarea:focus {
  border: 1px solid var(--accent);
}
.modal__textarea::placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
}
.modal__checkbox-label {
  margin-bottom: 30px;
}
.modal__checkbox-link {
  color: var(--accent);
  text-decoration: underline;
}
.modal__checkbox-link:hover {
  text-decoration: none;
}
.modal__button {
  width: 200px;
  padding: 10px 0;
  background-color: var(--accent);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.field-container {
  position: relative;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent);
}
.modal__checkbox {
  position: absolute;
  appearance: none;
}
.modal__checkbox-label {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}
.modal__checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  margin-right: 7px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent);
  border-color: transparent;
}

/* to hide elements */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
